ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FTVVPI95" SYMLINK+="Leptrino_R", MODE="0777" # for right foot
ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FTVVPHA3" SYMLINK+="Leptrino_L", MODE="0777" # for left foot
